.panel-enter {
    opacity: 0;
}

.panel-enter-active {
    opacity: 1;
    transition: opacity 2000ms;
}

.overlay-exit {
    opacity: 1;
}

.overlay-exit-active {
    opacity: 0;
    transition: opacity 2000ms;
}