.upgrade-panel-enter {
    opacity: 0;
}

.upgrade-panel-enter-active {
    opacity: 1;
    transition: opacity 2000ms;
}

.upgrade-overlay-exit {
    opacity: 1;
}

.upgrade-overlay-exit-active {
    opacity: 0;
    transition: opacity 2000ms;
}